<h1>New Employees Form </h1>


<%= form_for @staff, url: {:action=>"create"} do |form| %>

  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@staff.errors.count, "error") %> prohibited
        this entry from being saved:
      </h2>
      <ul>
        <% @staff.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Age %><br>
    <%= form.text_field :age %>
  </p>

  <p>
    <%= form.label :Gender %><br>
    <%= form.text_field :gender %>
  </p>

  <p>
    <%= form.label :Designation %><br>
    <%= form.text_field :designation %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', controller: 'staff' %>
