<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @staff.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @staff.designation %>
</p>

<p>
  <%= link_to 'Edit', edit_staff_path(@staff) %> &nbsp &nbsp
  <%= link_to 'Back', controller: 'staff' %>
</p>
